<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">

  <title></title>

</head>
<body  style="background: #121212;">

  <script src="/js/script.js" defer></script>

<%= render 'layouts/top_navbar' %>
<%= render 'layouts/bottom_navbar' %>
<%= render 'carousel' %>

    <br>
  <%= render 'hotproducts' %>
  <%= render 'newproducts' %>



</body>
</html>
