<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-4 col-md-6">
        <br>
        <p style="color: white;"><%= t('product.colors')%></p>
      </div>
      <div class="col-6 col-md-6"">
        <br>
        <p style="color: #B8860B;">
          <% @product.colors.each do |color| %>
            <%= color.name_rus + " " if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
            <%= color.name_eng + " " if params[:locale] == 'en' %>
            <%= color.name_rus + " " if params[:locale] == 'ru' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-4 col-md-6">
        <br>
        <p style="color: #D3D3D3;"><%= t('product.country')%></p>
      </div>
      <div class="col-6 col-md-6">
        <br>
        <p style="color: #B8860B;">
          <%= @country.name_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
          <%= @country.name_eng if params[:locale] == 'en' %>
          <%= @country.name_rus if params[:locale] == 'ru' %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-6">
    <div class="row">
      <div class="col-4 col-md-6">
        <br>
        <p style="color: white;"><%= t('product.sizes')%></p>
      </div>
      <div class="col-6 col-md-6">
        <br>
        <p style="color: #B8860B;">
          <%= @product.sizes %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-4 col-md-6">
        <br>
        <p style="color: white;"><%= t('product.collection')%></p>
      </div>
      <div class="col-8 col-md-6">
        <br>
        <p style="color: #B8860B;">
          <% if @product.collection != nil %>
          <%= @product.collection.name_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
          <%= @product.collection.name_eng if params[:locale] == 'en' %>
          <%= @product.collection.name_rus if params[:locale] == 'ru' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-4 col-md-6">
        <br>
        <p style="color: white;"><%= t('product.material')%></p>
      </div>
      <div class="col-8 col-md-6">
        <br>
        <% if @product.compound != nil %>
        <p style="color: #B8860B;">
          <%= @product.compound.value_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
          <%= @product.compound.value_eng if params[:locale] == 'en' %>
          <%= @product.compound.value_rus if params[:locale] == 'ru' %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-4 col-md-6">
        <br>
        <p style="color: white;"><%= t('product.clasp')%></p>
      </div>
      <div class="col-8 col-md-6">
        <br>
        <p style="color: #B8860B;">
          <% if @product.clasp == true %>
            <%= @product.viewclasp.name_ru if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
            <%= @product.viewclasp.name_eng if params[:locale] == 'en' %>
            <%= @product.viewclasp.name_ru if params[:locale] == 'ru' %>
          <% else %>
            <%= t('product.atribute_no')%>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-4 col-md-6">
        <br>
        <p style="color: white;"><%= t('product.lining')%></p>
      </div>
      <div class="col-8 col-md-6">
        <br>
        <p style="color: #B8860B;">
          <% if @product.lining == true %>
            <%= @product.viewlining.name_ru if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
            <%= @product.viewlining.name_eng if params[:locale] == 'en' %>
            <%= @product.viewlining.name_ru if params[:locale] == 'ru' %>
          <% else %>
            <%= t('product.atribute_no')%>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-4 col-md-6">
        <br>
        <p style="color: white;"><%= t('product.seasons')%></p>
      </div>
      <div class="col-8 col-md-6">
        <br>
        <p style="color: #B8860B;">
          <% if @product.collection != nil %>
          <%= @product.season.name_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
          <%= @product.season.name_eng if params[:locale] == 'en' %>
          <%= @product.season.name_rus if params[:locale] == 'ru' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-4">
        <br>
        <p style="color: white;"><%= t('product.style')%></p>
      </div>
      <div class="col-8">
        <br>
        <p style="color: #B8860B;">
          <% if @product.collection != nil %>
          <%= @product.style.name_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
          <%= @product.style.name_eng if params[:locale] == 'en' %>
          <%= @product.style.name_rus if params[:locale] == 'ru' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<p>
  <%= simple_format @product.other_rus, style:"color: #B8860B;" if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
  <%= simple_format @product.other_rus, style:"color: #B8860B;" if params[:locale] == 'ru' %>
  <%= simple_format @product.other_eng, style:"color: #B8860B;" if params[:locale] == 'en' %>
</p>
