<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic" rel="stylesheet">



    <link rel="stylesheet" href="/gallery/setting.css">
    <link rel="stylesheet" href="/gallery/style.css">


  </head>

  <body style="background: #121212;">
    <%= render 'layouts/top_navbar' %>
    <%= render 'layouts/bottom_navbar' %>
    <br>
    <center>
      <p class="gradient-text">
        <%= @product.name_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
        <%= @product.name_eng if params[:locale] == 'en' %>
        <%= @product.name_rus if params[:locale] == 'ru' %>
      </p>
    </center>



<div class="shadow-lg p-3 mb-5 rounded order">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-md-6">
        <div class="frame">
          <div class="gallery">
            <% @index = 1 %>

              <% @product.videos.each do |video| %>
                <div class="picture pic-<%= @index %>">



  <%= video_tag rails_blob_path(video), size: "118x178", controls: false, audio: false, autoplay: true, onclick:"this.paused ? this.play() : this.pause(); arguments[0].preventDefault();" %>


                </div>
                <% @index = @index + 1 %>
              <% end %>

            <% if @product.images.attached? %>
              <% @product.images.each do |image| %>
                <div class="picture pic-<%= @index %>">
                  <img class="picture__image" width="128" height="128" src="<%= rails_blob_url(image)%>" alt="">
                </div>
                <% @index = @index + 1 %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<hr>

<% if recent_products.any? %>

<% end %>
<div class="container">
  <center>
    <p class="gradient-text">
      <%= t('product.recently') %>
    </p>
  </center>
  <div class="row">
    <% if recent_products.any? %>
      <% recent_products.each do |product| %>
        <div class="col-6 col-lg-4">
          <center>
            <%= link_to product_path(product), class:'nav-link' do %>
              <div class="card border border-warning-subtle" style="width: 20rem;">
                <%= image_tag(product.images.first, class:"card-img-top", alt:"...") %>

                <div class="card-body" style="height: 68px; background-image: linear-gradient(
                    45deg,
                    hsl(0deg 100% 20%) 0%,
                    hsl(9deg 93% 24%) 8%,
                    hsl(16deg 92% 28%) 17%,
                    hsl(22deg 95% 31%) 25%,
                    hsl(27deg 100% 33%) 33%,
                    hsl(30deg 100% 36%) 42%,
                    hsl(34deg 100% 39%) 50%,
                    hsl(37deg 100% 41%) 58%,
                    hsl(40deg 100% 44%) 67%,
                    hsl(44deg 100% 46%) 75%,
                    hsl(47deg 100% 47%) 83%,
                    hsl(51deg 100% 49%) 92%,
                    hsl(55deg 100% 50%) 100%">
                  <h5><%= product.name_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en'  %></h5>
                  <h5><%= product.name_eng if params[:locale] == 'en' %></h5>
                  <h5><%= product.name_rus if params[:locale] == 'ru' %></h5>
                </div>
              </div>
            <% end %>
            <br>
          </center>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
    const scrollContainer = document.getElementById('scrollContainer');

    scrollContainer.addEventListener('wheel', (event) => {
        event.preventDefault(); // Предотвращаем стандартное поведение прокрутки
        scrollContainer.scrollLeft += event.deltaY; // Прокручиваем контейнер влево или вправо
    });
</script>





<script src="/gallery/script.js" defer></script>
  </body>
</html>
