
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1 col-xs-12">
        <br>
        <%= link_to root_path, class:'navbar-brand' do %>
          <%= image_tag(@logo, alt:"Bootstrap", width: '150rem;')%>
          <!--<b style="font-family: bankgothic; font-weight: 900; font-size: 35px; width: 300px;">MB</b>-->
        <% end %>
      </div>
      <div class="col-lg-3 col-xs-12">

      </div>
      <div class="col-lg-8 col-xs-12">
        <nav class="navbar navbar-expand-lg">
<br><br><br><br><br><br>
          <div class="container-fluid">

              <%= link_to t('navbar.main'), root_path, class:"btn btn-outline-warning", style:"font-size: 18px;" %>



              <%= link_to t('navbar.about'), backends_path, class:"btn btn-outline-warning", style:"font-size: 18px;" %>






<br><br><br><br>
<p>
  <%= search_form_for @q, class:"d-flex", role:"search" do |f| %>
    <%= f.search_field :name_rus_or_name_eng_cont, class:"form-control me-2", type:"search", placeholder:"#{t('navbar.search')}", style:"width:225px;" %>

    <%= f.submit class:"btn btn-outline-success", type:"submit"%>|

    <% end %>
</p>


          </div>
        </nav>
      </div>
    </div>

  </div>
</div>
